*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
}
#navbar{
    display: flex;
    background-color: blueviolet;
    align-items: center;
}
img{
    width: 50%;
    padding: 10px;
}
.navmenu{
    display: flex;
}
.navmenu a{
    display: block;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}
.navmenu :hover{
    background-color: brown;
}
button{
    margin: 5px 35px;
    padding: 10px 30px;
}
button:hover{
    background-color: blue;
    color: aqua;
}
.drop1{
    position: relative;
}
.list1{
    display: none;
    position: absolute;
    background-color: blue;
}
.drop1:hover .list1{
    display: block;

}
.list2{
    display: none;
}
.drop2:hover .list2{
    display: block;
    /* position: absolute; */
    /* background-color: blue; */
}
